
{% load static %}

        <div class="header">
			<div class="header-left">
				<a href="{% url 'patientAccount' %}" class="logo">
					<img src="{% static 'dashb/img/logo.png' %}" width="35" height="35" alt=""> <span>Patient</span>
				</a>
			</div>
			<a id="toggle_btn" href="javascript:void(0);"><i class="fa fa-bars"></i></a>
            <a id="mobile_btn" class="mobile_btn float-left" href="#sidebar"><i class="fa fa-bars"></i></a>
            <ul class="nav user-menu float-right">
                <li class="nav-item">
                    <a href="{% url 'patientAccount' %}" class="nav-link">
                        <h4 class="pt-3">Doctor - Patient Portal</h4>
                    </a>
                </li>
                <li class="nav-item dropdown has-arrow">
                    <a href="#" class="dropdown-toggle nav-link user-link" data-toggle="dropdown">
                        <span class="user-img">
							<img class="rounded-circle" src="{% static 'dashb/img/user.jpg' %}" width="24" alt="patient">
							<span class="status online"></span>
						</span>
						<span>{{user.first_name}} {{user.last_name}}</span>
                    </a>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="{% url 'patientProfile' %}">My Profile</a>
						<a class="dropdown-item" href="{% url 'patientChangePassword' %}">Change password</a>
						<a class="dropdown-item" href="{% url 'patientLogout' %}">Logout</a>
					</div>
                </li>
            </ul>
            <div class="dropdown mobile-user-menu float-right">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                <div class="dropdown-menu dropdown-menu-right">
					<a class="dropdown-item" href="{% url 'patientProfile' %}">My Profile</a>
					<a class="dropdown-item" href="{% url 'patientChangePassword' %}">Change password</a>
					<a class="dropdown-item" href="{% url 'patientLogout' %}">Logout</a>
                </div>
            </div>
        </div>